.navbar{
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
    align-items: center;
    border-bottom: 1px solid grey;
}
.navbar input{
    height: fit-content;
    width: 8rem;
    border:none;
}
.navbar div{
    display: flex;
    align-items: center;
}