.container{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.details{
    width: 40%;
    padding:0 1.4rem;
    text-align: left;
}
.moreInfo{
    width: 40%;
}
.image{
    width:30rem;
    margin-top: 1rem;
}
.hostDetails p{
margin: 0;
}
.host{
    font-weight: bolder;
    margin-bottom: 1rem;
}
.boldText{
    font-weight: bolder;
}
.chip{
    margin: 0 1rem;
    background-color: #F55858;
    color:white;
    border-radius: 10px;
    padding:0.5rem;
}